.profile-card {
    .flex(column);
    flex-wrap: wrap;
    margin: 25px;
    border: 2px solid white;
    box-sizing: border-box;
    color: red;
    padding: 5px 8px;
    width: 30vw;
    height: 35vh;
    img {
        width: 80%;
        height: 70%;
        margin: 2% 0;
    }

    a {
        margin-top: 2%;
    }
}